<div class="row">
  <div class="col-md-12">
    <div class="widget wgreen">
      <div class="widget-head">
        <div class="pull-left">Add Property</div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <br />

          <!-- Form starts.  -->
          <%= form_for([:admin, @property, @apartment], :url => admin_property_apartments_path, :html => {:class => "form-horizontal"}) do |f| %> 
            <div class="form-group">
              <%= f.label :unit, "Unit #", class: "col-lg-2 control-label" %>

              <div class="col-lg-8">
                <%= f.text_field :unit, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bedrooms, class: "col-lg-2 control-label" %>

              <div class="col-lg-8">
                <%= f.number_field :bedrooms, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bathrooms, class: "col-lg-2 control-label" %>
              <div class="col-lg-8">
                <%= f.text_field :bathrooms, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label for="rent" class="col-lg-2 control-label">Rent</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="rent" name="metadata[rent]">
              </div>
            </div>

            <div class="form-group">
              <label for="square_footage" class="col-lg-2 control-label">Square Footage</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="square_footage" name="metadata[square_footage]">
              </div>
            </div>

            <div class="form-group">
              <label for="parking" class="col-lg-2 control-label">Parking Spaces</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="parking" name="metadata[parking]">
              </div>
            </div>


            <div class="form-group">
              <label class="col-lg-2 control-label">Description</label>
              <div class="col-lg-8">
                <%= f.text_area :description, class: "cleditor" %>
              </div>
            </div>       

            <div class="form-group">
              <label class="col-lg-2 control-label">Amenities</label>
              <div class="col-lg-8">
                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[stove]" value="yes"> Stove
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[washer]" value="yes"> Washer
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[dryer]" value="yes"> Dryer
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[dishwasher]" value="yes"> Dishwasher
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[refrigerator]" value="yes"> Refrigerator
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[microwave]" value="yes"> Microwave
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[laundry_on_site]" value="yes"> Laundry on site
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[hardwood_floors]" value="yes"> Hardwood floors
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[pets_allowed]" value="yes"> Pets allowed
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[gas_heater]" value="yes"> Gas heater
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[balcony]" value="yes"> Balcony
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[patio]" value="yes"> Patio
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[air_conditioning]" value="yes"> Air conditioning
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[fireplace]" value="yes"> Fireplace
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-2">Available?</label>
              <div class="col-lg-5">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active">
                    <input type="radio" name="apartment[available]" id="option1" autocomplete="off" value=false checked> No
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="apartment[available]" id="option2" autocomplete="off" value=true> Yes
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-5 col-lg-offset-2">
                <%= f.submit nil, class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>  
  </div>
</div>
