<%= content_for :dashboard_header do %>
  <%= formatted_address(@apartment) %>
<% end %>
<%= content_for :dashboard_breadcrumbs do %>
  <!-- Divider -->
    <span class="divider">/</span>
    <%= link_to @property.street_address, admin_property_path(@property), class: "bread" %>
    <span class="divider">/</span>
    <%= link_to @apartment.unit, admin_apartment_path(@apartment), class: "bread" %>
    <span class="divider">/</span>
    Edit
<% end %>


<div class="row">
  <div class="col-md-12">
    <div class="widget wgreen">
      <div class="widget-head">
        <div class="pull-left">Edit Property</div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <br />

          <!-- Form starts.  -->
          <%= form_for([:admin, @apartment], :html => {:class => "form-horizontal"}) do |f| %>
            <div class="form-group">
              <%= f.label :unit, "Unit #", class: "col-lg-2 control-label" %>

              <div class="col-lg-8">
                <%= f.text_field :unit, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bedrooms, class: "col-lg-2 control-label" %>

              <div class="col-lg-8">
                <%= f.number_field :bedrooms, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bathrooms, class: "col-lg-2 control-label" %>
              <div class="col-lg-8">
                <%= f.text_field :bathrooms, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label for="rent" class="col-lg-2 control-label">Rent</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="rent" name="metadata[rent]" value="<%= @apartment.rent %>">
              </div>
            </div>

            <div class="form-group">
              <label for="square_footage" class="col-lg-2 control-label">Square Footage</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="square_footage" name="metadata[square_footage]" value="<%= @apartment.square_footage %>">
              </div>
            </div>

            <div class="form-group">
              <label for="parking" class="col-lg-2 control-label">Parking Spaces</label>
              <div class="col-lg-8">
                <input type="number" class="form-control" id="parking" name="metadata[parking]" value="<%= @apartment.parking %>">
              </div>
            </div>


            <div class="form-group">
              <label class="col-lg-2 control-label">Description</label>
              <div class="col-lg-8">
                <%= f.text_area :description, class: "cleditor" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">
                <p>Amenities</p>
                <a href="#" class="select-all">Select All</a> / <a href="#" class="select-none">Select None</a>
              </label>
              <div class="col-lg-8">
                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[stove]" value="yes" <%= "checked" if @apartment.stove %>> Stove
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[washer]" value="yes" <%= "checked" if @apartment.washer %>> Washer
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[dryer]" value="yes" <%= "checked" if @apartment.dryer %>> Dryer
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[dishwasher]" value="yes" <%= "checked" if @apartment.dishwasher %>> Dishwasher
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[refrigerator]" value="yes" <%= "checked" if @apartment.refrigerator %>> Refrigerator
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[microwave]" value="yes" <%= "checked" if @apartment.microwave %>> Microwave
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[laundry_on_site]" value="yes" <%= "checked" if @apartment.laundry_on_site %>> Laundry on site
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[hardwood_floors]" value="yes" <%= "checked" if @apartment.hardwood_floors %>> Hardwood floors
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[pets_allowed]" value="yes" <%= "checked" if @apartment.pets_allowed %>> Pets allowed
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[gas_heater]" value="yes" <%= "checked" if @apartment.gas_heater %>> Gas heater
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[balcony]" value="yes" <%= "checked" if @apartment.balcony %>> Balcony
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[patio]" value="yes" <%= "checked" if @apartment.patio %>> Patio
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[air_conditioning]" value="yes" <%= "checked" if @apartment.air_conditioning %>> Air conditioning
                </label>

                <label class="checkbox-inline">
                  <input type="checkbox" name="metadata[fireplace]" value="yes" <%= "checked" if @apartment.fireplace %>> Fireplace
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-2">Available?</label>
              <div class="col-lg-5">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary <%= 'active' if !@apartment.available? %>">
                    <input type="radio" name="apartment[available]" value=false <%= "checked" if !@apartment.available? %>> No
                  </label>
                  <label class="btn btn-primary <%= 'active' if @apartment.available? %>">
                    <input type="radio" name="apartment[available]" value=true  <%= "checked" if @apartment.available? %>> Yes
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-5 col-lg-offset-2">
                <%= f.submit nil, class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>
</div>
