<!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
          <!-- Main menu with font awesome icon -->
          <li><%= i_link("Dashboard", admin_path, "home") %>
            <!-- Sub menu markup
            <ul>
              <li><a href="#">Submenu #1</a></li>
              <li><a href="#">Submenu #2</a></li>
              <li><a href="#">Submenu #3</a></li>
            </ul> -->
          </li>
          <li class="has_sub">
            <%= i_link_dropdown("Properties", "#", "home") %>
            <ul>
              <% @properties.each do |property| %>
                <li><%= link_to property.street_address, admin_property_path(property) %></li>
              <% end %>
              <li><%= link_to "+ Add Property", new_admin_property_path %></li>
            </ul>
          </li>
          <li><%= i_link("Repair Requests", admin_repairs_path, "exclamation") %></li>
          <li><%= i_link("Exit Dashboard", destroy_user_session_path, "sign-out", :delete) %></li>
        </ul>
    </div>

    <!-- Sidebar ends -->