<%= content_for :dashboard_header do %><%= formatted_address(@property) %><% end %>
<%= content_for :dashboard_breadcrumbs do %>
  <!-- Divider -->
    <span class="divider">/</span>
    <%= @property.street_address %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-head">
        <div class="pull-left"><%= @property.description.html_safe %></div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-content">
        <div class="padd">
          <!-- Table Page -->
          <div class="page-tables">
            <!-- Table -->
            <div class="table-responsive">
              <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%">
                <thead>
                  <tr>
                    <th>Unit</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>Tenants</th>
                    <th>Availabile</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @property.apartments.each do |apartment| %>
                    <tr>
                      <td><%= link_to apartment.unit, admin_apartment_path(apartment) %></td>
                      <td><%= apartment.bedrooms %></td>
                      <td><%= apartment.bathrooms %></td>
                      <td><%= apartment.tenants.size %></td>
                      <td><%= available_colorizer(apartment.available) %></td>
                      <td><%= link_to 'Edit Unit', edit_admin_apartment_path(apartment), class: "btn btn-sm btn-info pull-right" %></td>
                      <td><%= link_to 'Destroy Unit', admin_apartment_path(apartment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger pull-right" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-foot">
        <div class="pull-right">
          <%= link_to content_tag(:i, " Add Unit", class: "fa fa-plus"), new_admin_property_apartment_path(@property), class: "btn btn-info" %>
          <%= link_to content_tag(:i, " Edit Property", class: "fa fa-edit"), edit_admin_property_path(@property), class: "btn btn-success" %>
          <%= link_to content_tag(:i, " Delete Property", class: "fa fa-times-circle"), admin_property_path(@property), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>