<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>ViaDeca Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag    "dashboard", media: "all" %>
  <%= javascript_include_tag "dashboard" %>
  
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body class="<%= yield :body_class unless :body_class.empty? %>">
  
  <%= render 'admin/dashboards/header' %>
  <div class="content">
    <%= render 'admin/dashboards/sidebar' %>
    <div class="mainbar">  
      <%= render 'admin/dashboards/breadcrumbs' %>
      <div class="matter">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <%= render 'admin/dashboards/footer' %>



  </body>
</html>